<!DOCTYPE html>
<html>
<head>
	<title>PagesHome</title>
</head>
<body>
	<h1>Home</h1>
	<div class="parrafos">
		<p>Hola esto es un parrafo akldsfhlkasvblkdsbvlkbflvbsdlvbjdvjdvdbvhjdbvkbdjkvdvbldbdbvldvldvbkdvbldsbvlksbdvjdsvb</p>
		<p>Este es un segundo parrafo fnsdfjsvklhsfdvkjbfuhdjdiebchejhbdnasdfjbasdvlakjsdvasdffhasdfksfhhrdjfjfjfjfjfjjfjfjfjfjfjfj</p>

		<%= link_to 'About', about_path %>
	</div>
</body>
</html>